@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

header {
  background-color: #2968b3;
  background-image: url("header.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 6vw 2em;
  max-width: none;
  text-align: center;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color:#555;
}


header h1 {
  color: white;
  font-size: 3.5em;
  font-weight: 400;
  max-width: none;

}

 a.email {
  border: 1px solid #2968b3;
  border-radius: 290486px;
  color: #2968b3;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header a:hover {
  background:  #2968b3;
  color: white;
}

main {
   padding: 4em 5em;
   text-align: center;
}
h2 {
	margin-top: 1em;
	padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
  padding: 1em;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

